*{
    margin: 20px;
}

.reporte-principal{
    max-width: 80%;
    height: auto;
    margin: auto;
}

.caja-intermedia{
    max-width: 80%;
    height: auto;
    margin: auto;
    background-color: aqua;
    
}
