<div>

    <mat-form-field>
        <input matInput placeholder="Descripcion" [(ngModel)]="descripcionSeleccionada">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Monto" [(ngModel)]="montoSeleccionado">
    </mat-form-field>

    

    <mat-form-field class="example-container">
        <input matInput [matDatepicker]="picker" placeholder="Escoger una fecha dd/mm/yyyy" 
        [max]="maxFecha" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div>
        <mat-form-field>
            <mat-select placeholder="escoge categoria pago" [(ngModel)]="idCategoriaSeleccionada" >
                
                <mat-option *ngFor="let c of categorias" [value]="c.idCategoria" >
                    {{c.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field >
            <mat-select placeholder="escoge metodo pago" [(ngModel)]="idMetodopagoSeleccionada" >
                <mat-option *ngFor="let m of metodopagos" [value]="m.idMetodopago">
                    {{m.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>
